:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e2e2e2;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --primary-color: #be0dff;
  --secondary-color: #9430ff;
  --gradient: linear-gradient(-23deg, var(--secondary-color), var(--primary-color));
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}